#modal:root {
    --primary-color: #d846a5 !important;
    --secondary-color: #4d0eae !important;
}

#modal div {
    font-family: Arial, sans-serif !important;
    background-color: black !important;
    color: #fff !important;
    text-align: center !important;
}

#modal .success-page {
    background-color: black !important;
}

#modal .container {
    max-width: 400px !important;
    margin: 0 auto !important;
    padding: 20px !important;
    padding-top: 0px !important;
    border-radius: 8px !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
}

#modal #uploadContainer {
    min-width: 400px !important;
}

#modal h1 {
    background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color)) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
    font-size: 70px !important;
    margin: 0px !important;
    margin-top: 50px !important;
}

#modal p {
    color: #888 !important;
}

#modal .muted {
    color: #888 !important;
}

#modal .bigger-text {
    color: #888 !important;
    font-size: 24px !important;
    margin-bottom: 5px !important;
}

#modal .dropzone {
    border: 2px dashed #ccccccaf !important;
    border-radius: 12px !important;
    padding: 30px !important;
    cursor: pointer !important;
}

#modal .dropzone:hover {
    border-color: var(--primary-color) !important;
}

#modal #fileInput {
    display: none !important;
}

#modal div {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh !important;
    margin: 0 !important;
}

#modal .button {
    padding: 20px 40px !important;
    border-radius: 8px !important;
    margin: 12px auto !important;
}

#modal .uploadButton {
    display: none !important;
    border: none !important;
    color: #fff !important;
    background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color)) !important;
    cursor: pointer !important;
}

#modal .uploadButton:hover {
    /* background: linear-gradient(to bottom right, --secondary-color, --primary-color);
    /* Button gradient on hover */
}

#modal .gradientButton {
    border: none !important;
    color: #fff !important;
    background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color)) !important;
    cursor: pointer !important;
    text-decoration: none !important;
}

#modal .gradientButton:hover {
    /* background: linear-gradient(to bottom right, --secondary-color, --primary-color);
    /* Button gradient on hover */
}

#modal #audioPlayer1,
#modal #audioPlayer2 {
    display: block !important;
    position: relative !important;
    margin-bottom: 10px !important;
}

#modal #checkout2 {
    display: block !important;
    position: relative !important;
    z-index: 1 !important;
    margin-top: 16px !important;
}

#modal #uploadProgress {
    width: 100% !important;
    height: 15px !important;
    margin-top: 10px !important;
}

#modal #statusMessage {
    margin-top: 10px !important;
}

#modal #loadingScreen {
    display: none !important;
    text-align: center !important;
}

#modal #loadingText {
    font-size: 24px !important;
    margin-top: 20px !important;
}

#modal .loading-text-container {
    text-align: center !important;
}

#modal .loading-icon {
    display: inline-block !important;
    margin: auto !important;
    margin-top: 10px !important;
    width: 24px !important;
    height: 24px !important;
    border: 2px solid #333 !important;
    border-top: 2px solid var(--primary-color) !important;
    border-radius: 50% !important;
    animation: spin 1s linear infinite !important;
}

#modal .loading-spinner {
    display: flex !important;
    justify-content: center !important;
    margin: auto !important;
    margin-top: 10px !important;
    width: 24px !important;
    height: 24px !important;
    border: 2px solid #333 !important;
    border-top: 2px solid var(--primary-color) !important;
    border-radius: 50% !important;
    animation: spin 1s linear infinite !important;
}

#modal #loading-spinner {
    display: flex !important;
    justify-content: center !important;
    margin: auto !important;
}

#modal .padding-top-med {
    padding-top: 6px !important;
}

@keyframes spin {
    0% {
        transform: rotate(0deg) !important;
    }

    100% {
        transform: rotate(360deg) !important;
    }
}

#modal #mobileWarning {
    display: none !important;
}

@media (max-width: 768px) {
    #modal #mobileWarning {
        display: block !important;
    }
}

#modal .mobileWarning {
    display: none !important;
}

@media (max-width: 768px) {
    #modal .mobile-warning {
        display: block !important;
    }
}

#modal .footer-div {
    padding-top: 200px !important;
}

#modal footer {
    color: #888 !important;
    text-align: center !important;
    padding: 20px !important;
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
}

#modal footer a {
    color: #888 !important;
    text-decoration: none !important;
    margin: 0 10px !important;
}

#modal footer a:hover {
    text-decoration: underline !important;
}

#modal .background-glow {
    z-index: -99 !important;
    opacity: .5 !important;
    background-image: url(https://assets-global.website-files.com/62d6b69…/62d6b69…_BG%20SHAPES%202.png) !important;
    background-position: 50% 0 !important;
    background-size: cover !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    position: fixed !important;
    top: 0% !important;
    bottom: 0% !important;
    left: 0% !important;
    right: 0% !important;
}

#modal .beta-label {
    margin-top: 0px !important;
}

#modal .radio_container {
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    background-color: white !important;
    width: 220px !important;
    height: 50px !important;
    border-radius: 9999px !important;
    box-shadow: none !important;
}

#modal audio {
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
}

#modal input[type="radio"] {
    appearance: none !important;
    display: none !important;
}

#modal label {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: inherit !important;
    width: 80px !important;
    height: 40px !important;
    text-align: center !important;
    border-radius: 9999px !important;
    overflow: hidden !important;
    transition: linear 0.3s !important;
    color: #6e6e6edd !important;
}

#modal input[type="radio"]:checked+label {
    background-image: linear-gradient(296deg, var(--primary-color), var(--secondary-color)) !important;
    color: white !important;
    transition: 0.3s !important;
}

#modal .transparent {
    background-color: transparent !important;
    box-shadow: none !important;
}

#modal .progress-container {
    width: 100% !important;
    background-color: #f1f1f1 !important;
    height: 20px !important;
    margin-top: 10px !important;
    display: flex !important;
    overflow: hidden !important;
    border-radius: 5px !important;
}

#modal .progress-bar {
    height: 100% !important;
    width: 0 !important;
    background-color: var(--primary-color) !important;
    border-radius: 5px !important;
    transition: width 1s ease-in-out !important;
}

#modal .muted-link {
    color: #888 !important;
}

#modal .reuploadButton {
    text-align: center !important;
    align-self: center !important;
    background: none !important;
    text-decoration: none !important;
    border: 1px solid #888 !important;
    color: #888 !important;
}

#modal .downloadButton {
    text-align: center !important;
    align-self: center !important;
    text-decoration: none !important;
}

#modal #form-container {
    max-width: 300px !important;
    margin: 0px auto !important;
    padding: 0px !important;
    border-radius: 8px !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
    color: #fff !important;
}

#modal #form-container h1 {
    font-size: 24px !important;
    margin-bottom: 20px !important;
}

#modal #marketingForm input,
#modal #marketingForm label {
    width: 100% !important;
    box-sizing: border-box !important;
    padding: 10px !important;
    border: none !important;
    border-radius: 5px !important;
    margin-bottom: 10px !important;
}

#modal #marketingForm button {
    cursor: pointer !important;
    background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color)) !important;
    color: #fff !important;
}

#modal #marketingForm input[type="checkbox"] {
    margin-right: 10px !important;
    margin-top: 2px !important;
    width: 15px !important;
}

#modal #marketingForm input::placeholder {
    color: #888 !important;
}

#modal #marketingForm input:focus::placeholder {
    color: transparent !important;
}

#modal .checkbox-group {
    display: flex !important;
    align-items: start !important;
}

#modal .checkbox-label {
    display: flex !important;
    align-items: start !important;
    height: fit-content !important;
    margin-bottom: 0px !important;
}

#modal .checkbox-text {
    text-align: start !important;
    font-size: 15px !important;
    overflow: visible !important;
}

#modal #mastering-complete {
    font-size: 35px !important;
    margin-bottom: 10px !important;
    margin-top: 0px !important;
}

#modal {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    background-color: black !important;
    padding: 20px !important;
    width: 90vw !important;
    max-width: 800px !important;
    height: 90vh !important;
    max-height: 90vh !important;
    text-align: center !important;
    border-radius: 8px !important;
}

#modal #modal-overlay {
    display: none !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background: rgba(255, 255, 255, 0.1) !important;
    justify-content: center !important;
    align-items: center !important;
    z-index: 999 !important;
}

#modal #close-btn {
    cursor: pointer !important;
    color: white !important;
    font-size: 40px !important;
}

#modal #modalText {
    background: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color)) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
    font-size: 50px !important;
    margin: 4px !important;
    padding-top: 10px !important;
}

#modal #stickyDiv {
    position: fixed !important;
    background-color: #fff !important;
    color: #000 !important;
    bottom: 0 !important;
    left: 0 !important;
    padding: 10px !important;
    border-top-right-radius: 10px !important;
    cursor: pointer !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    width: 200px !important;
    font-weight: bold !important;
}

@media (max-width: 600px) {
    #modal #stickyDiv {
        width: 95% !important;
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
    }

    #modal #closeBtn {
        font-size: 20px !important;
        cursor: pointer !important;
    }
}
